---
import Search from "../components/Search.astro";
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="flex items-center">
    <h2 class="text-2xl font-bold pb-2 pl-2 sm:pl-5 shadow-lg">gustoso</h2>
    <div class="flex flex-col mx-2 justify-center items-center w-full">
      <Search />
    </div>
  </div>

  <Welcome />
  <!-- <dialog id="results" class="inset-1/2" open>asd</dialog> -->
</Layout>
